body{
  background: #fff;
  color: #000;
}
#header{
  position: fixed;
  display: flex;
  background: #1B4965;
  color: #fff;
  width: 100%;
  z-index: 2;
}
#header h1{
  display: inline-block;
  margin-left: 60px;
}
nav ul{
  margin-left: 80px;
  display: flex;
}
nav li{
  font-size: 1rem;
  list-style: none;
  margin: 20px;
}
nav li a{
  color: #fff;
  text-decoration: none;
}
.main-visual{
  background: #fff url(../imgs/umiushi15.jpg) 0 0 no-repeat;
  width: 100%;
  height: 650px;
  background-size: cover;
  margin-bottom: 32px;
  padding-top: 80px;
}
.content{
  background-color: #62B6CB;
  padding: 100px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.image {
  padding: 40px;
  background: #FFF;
  border-radius: 9px;
}
.animation1{
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.animation1 .caption{
  position: absolute;
  top: 0;
  padding: 20px;
  background: rgba(42, 121, 182, 0.8);
  height: 200px;
  width: 300px;
  box-sizing: border-box;
  transition: 1s;
  opacity: 0;
  color: #FFF;
}
.animation1 .caption h2{
  font-size: 20px;
}
.animation1:hover .caption{
  opacity: 1;
}
.animation1 .caption h3{
  font-size: 14px;
}
.content2{
  background: red;
  padding: 100px;
}
.content a {
  color: white;
}
